#movebuttons{
    width: 100%;
    height: 170px;
    cursor: url(../../assets/cursorclick.png),auto;
}

.move-button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-top: -5px;
    cursor: url(../../assets/cursorclick.png),auto;
}

.move-button img {
    height: 100%;
    width: 100%;
    transition: transform 0.2s ease-in-out;
    cursor: url(../../assets/cursorclick.png),auto;
}