#game-area {
  background-color: blue;
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1000;
}

#game-area-background{
    transform: scale(2);
    object-fit: cover;
    z-index: -2;
}

#player{
    position: absolute;
    transform: scale(2);
    z-index: 10000;
}

#plyayerimg{
    transform: scale(2);
}

#planet1{
    transform: scale(5);
    z-index: -1;
}